/* ----------------------------------------
 * Components / Social
 * ------------------------------------- */

 .social {
	text-align: right;

	ul {
		display: block;

		li {
			display: inline-block;
		}
	}
}
