/* ----------------------------------------
 * Layout / Site
 * ------------------------------------- */

body {
	border-left: 10px $action-color solid;
	border-right: 10px $action-color solid;

	&::before,
	&::after {
		content: "";
		position: fixed;
		left: 0;
		right: 0;
		height: 10px;
		background-color: $action-color;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
}

.site {
	@include grid-container();
	background-color: $white;
	background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
	background-repeat: repeat;
}

.site__banner {
	@include grid-column(12);

	@include media('>=540px') {
		@include grid-column(6);
		height: 100vh;
	}
}

.site__body {
	@include grid-column(12);

	@include media('>=540px') {
		@include grid-column(6);
		height: 100vh;
		max-height: 100vh;
		overflow: auto;
	}
}
