/* ----------------------------------------
 * Layout / Page
 * ------------------------------------- */

.page {
	position: relative;
}

.page__section {
	height: auto;
	margin-bottom: $base-spacing * 2;

	@include media(">=960px") {
		margin-bottom: 25vh;
	}

	&.prose {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		h3 {
			font-size: modular-scale(2);
		}

		p:only-of-type {
			padding-left: map-get($gutter, lg);
			border-left: $base-border;
		}
	}

	@include media(">=640px") {
		min-height: 100vh;
		padding-left: map-get($gutter, sm);
		padding-right: map-get($gutter, sm);
	}
}

.page__intro {
	min-height: 0;

	@supports (display: flex) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	@include media(">=640px") {
		min-height: 100vh;
	}

	.intro__headline {
		font-size: modular-scale(3);
		margin-bottom: map-get($gutter, sm);

		span {
			font-style: italic;
		}

		@include media(">=1170px") {
			width: 100%;
			font-size: modular-scale(6);
			text-align: center;

			span {
				position: relative;
				display: inline-block;
				padding-left: $small-spacing;
				padding-right: $small-spacing;
				z-index: 1;
			}

			span:nth-child(1) {
				margin-right: $base-spacing * 2;
				text-align: left;
			}

			span:nth-child(2) {
				padding-left: 1rem;
				padding-right: 1rem;
				font-size: modular-scale(3);
				line-height: 1em;
				color: map-get($color, 'white');

				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					display: block;
					width: 100%;
					height: 250px;
					transform: translateY( -45% ) rotate(-5deg);
					background-color: map-get($color, 'blue');
					background-color: $action-color;
					z-index: -1;
				}
			}

			span:nth-child(3) {
				margin-left: $base-spacing * 2;
				text-align: right;
			}
		}
	}

	.intro__subheadline {
		margin-bottom: 0;
		font-weight: 400;
	}
}

.page__footer {
	@include grid-container();
	margin-bottom: $base-spacing * 2;

	@include media("<640px") {
		@include grid-collapse();
	}

	@include media(">=640px") {
		margin-top: $base-spacing;
	}

	& > * {
		@include grid-column(6);
	}
}
