/* ----------------------------------------
 * Layout / Typography
 * ------------------------------------- */

h1, h2, h3,
h4, h5, h6 {
	position: relative;
	font-weight: 600;
}

summary {
	padding: $small-spacing 0;
	border-bottom: $base-border;
	transition: border $base-duration;
	cursor: pointer;

	&::marker {
		display: none;
	}

	&::-webkit-details-marker {
		display: none;
	}
}

details {
	margin-bottom: map-get($gutter, md);

	.prose {
		margin: 0;
		padding: map-get($gutter, sm);
		text-align: justify;
		hyphens: auto;
		@include box-shadow();
		z-index: 2;
	}
}


details[open] {

	& > summary {
		border-color: transparent;
		color: $action-color;
	}

	.prose {
		animation: detailSummary .3s
	}
}

@keyframes detailSummary {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

::selection {
	background-color: $blue;
	color: $white;
}

.prose {

	@include media(">=640px") {
		h1 { font-size: modular-scale(3); }
		h2 { font-size: modular-scale(2); }
		h3 { font-size: modular-scale(1); }
	}

	@include media(">=1170px") {
		h1 { font-size: modular-scale(5); }
		h2 { font-size: modular-scale(4); }
		h3 { font-size: modular-scale(3); }
		h4 { font-size: modular-scale(2); }
		h5 { font-size: modular-scale(1); }
		h6 { font-size: modular-scale(0); }
	}

//	@include media('>=1280px') {}

	p, ul, ol, dl {
		max-width: 80ch;
		orphans: 3;
		widows: 3;

		&:last-child {
			margin-bottom: 0;
		}

		@include media(">=1170px") {
			font-size: modular-scale(1);
		}
	}
}
