/* ----------------------------------------
 * Compontents / Banner
 * ------------------------------------- */

.banner__image {
	display: block;

	@include media(">=480px") {
		@supports (object-fit: cover) {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@include media(">=640px") {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@include media(">=960px") {

	}
}

.banner__caption {
	@include hide-visually;

	@include media(">=1170px") {
		@include hide-visually("unhide");
		position: absolute;
		left: $base-spacing;
		bottom: $base-spacing * 2;
		z-index: 10;
	}
}
