<!doctype html>
<html lang="en-US no-js">

<head>
	<title>{{ site.title }}</title>
	
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/assets/css/vanilla-js-accordion.css" />
	<link rel="stylesheet" href="/assets/css/theme.css" />
</head>

<body>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19790921-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-19790921-4');
	</script>
	
	<div class="site">
		
		<figure class="site__banner">
			<img src="/assets/images/0.jpg" alt="" class="banner__image" />
			<figcaption class="banner__caption"></figcaption>
		</figure>
		
		<main class="site__body">
			<header class="">
				
				<h1 class="">
					Olivia &ldquo;Owie&rdquo; Lanctot
				</h1>
				<p class="">Outsides Sales at Automated Logistics Systems</p>
				
			</header>
			<article id="content" class="">
				
				<p>Experienced Outside Sales Representative with a demonstrated history of working in the logistics and supply chain industry. Skilled in Sales, Public Speaking, Management, and Strategy. Business professional with a Masters of Business Administration.</p>
				
				<section id="accordion" class="button js-Accordion">
					<button class="button js-Accordion-title">Work History</button>
					<div class="js-Accordion-content">
						<p>Experienced Outside Sales Representative with a demonstrated history of working in the logistics and supply chain industry. Skilled in Sales, Public Speaking, Management, and Strategy. Business professional with a Masters of Business Administration.</p>
					</div>
				</section>
				
			</article>
			<footer>
				<section class="copyright">
					&copy; Olivia Lanctot
				</section>
				<nav class="social">
					<ul>
						<li><a href="#">Email</a></li>
						<li><a href="#">LinkedIn</a></li>
					</ul>
				</nav>
			</footer>
		</main>
		
	</div>
	
	<script src="/assets/js/vanilla-js-accordion.min.js"></script>
	<script src="/assets/js/main.js"></script>
</body>

</html>
